{% extends "base.html" %}

{% block content %}
<div class="container gutter">
    <svg class="icon-twitter-32"><use xlink:href="#twitter"></use></svg>
    <h1>Do Less</h1>

    <p>Cardigan sriracha kogi, bitters humblebrag sartorial tousled tattooed paleo heirloom dreamcatcher. Normcore meggings fixie 90's. Neutra migas mustache artisan truffaut, blue bottle lomo readymade. Stumptown actually raw denim, mixtape salvia gastropub williamsburg post-ironic. IPhone irony marfa, biodiesel viral tousled franzen hammock shoreditch. Franzen chambray aesthetic crucifix. Celiac iPhone cray synth.</p>
</div>

<div class="grid-m grid--wrap container v-space">
    <div class="col third gutter"><div class="test"></div></div>
    <div class="col third gutter"><div class="test"></div></div>
    <div class="col third gutter"><div class="test"></div></div>
    <div class="col third gutter"><div class="test"></div></div>
    <div class="col third gutter"><div class="test"></div></div>
    <div class="col third gutter"><div class="test"></div></div>
</div>

<div class="grid grid--center container v-space">
    <div class="col gutter"><img src="public/img/scotland.jpg" /></div>
    <div class="col gutter"><p>IPhone irony marfa, biodiesel viral tousled franzen hammock shoreditch. Franzen chambray aesthetic crucifix. Celiac iPhone cray synth.</p></div>
    <div class="col gutter"><img src="https://unsplash.it/600/300" /></div>
</div>

<div class="grid container v-space">
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
</div>

<div class="grid container v-space">
    <div class="col col--4of6 gutter"><div class="test"></div></div>
    <div class="col gutter"><div class="test"></div></div>
</div>

<div class="grid container">
    <div class="col third gutter"><div class="test"></div></div>
</div>
{% endblock %}