/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 settings.media

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

$media: (
	placeholder-background: transparent,
	scaffold-media: false
);

$aspect_ratios: (
	1x1 	: (1,1),
	7x5		: (7,5),
	16x9	: (16,9)
);