/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 settings.grid

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

$grid: (
	cols: 6,
	gutter: 10,
	support-legacy: true
);