/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 trumps.visibility

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* Basic visibility classes */
.hidden { display: none !important; }
.visible { display: block; }
.visible-f { display: flex; }
.visible-i { display: inline; }
.visible-ib { display: inline-block; }

/* Accesibility visibility classes */
.hidden-v {
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

	[dir="ltr"] & {
		left: -10000px;
	}

	[dir="rtl"] & {
		right: -10000px;
	}
}

/* Generate default breakpoint visibility classes */
@each $breakpoint, $value in $breakpoints {
	@if ($value != 0) {
		.visible-#{$breakpoint},
		.visible-#{$breakpoint}-i,
		.visible-#{$breakpoint}-ib,
		.visible-#{$breakpoint}-f { display: none; }

		@include breakpoint($breakpoint) {
		  .visible-#{$breakpoint} { display: block; }
		  .visible-#{$breakpoint}-i { display: inline; }
		  .visible-#{$breakpoint}-ib { display: inline-block; }
		  .visible-#{$breakpoint}-f { display: flex; }
		}

		.hidden-#{$breakpoint} {
		  @include breakpoint($breakpoint) {
		    display: none !important;
		  }
		}
	}
}