/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 trumps.alignment

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.center {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}

.cf {
	@include clearfix();
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.left-m {
	@include breakpoint('m') {
		float: left !important;
	}
}

.right-m {
	@include breakpoint('m') {
		float: right !important;
	}
}