/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 trumps.webfonts

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* 

 Font loading classes
 - - - - - -

 Scaffold font loading classes if set to true in settings.typography

*/

@if $scaffold-webfont-classes {
	.wf-loading {
		h1, h2, h3, h4, p {
			visibility: hidden;
		}

		&.no-js {
			h1, h2, h3, h4, p {
				visibility: visible;
			}
		}
	}

	.wf-active {
	    h1, h2, h3, h4, p {
			visibility: visible;
		}
	}
}